body{
    font-family: arial;
    background-color: rgb(76, 159, 236);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

header{
    font-size: 35px;
    color: rgb(241, 240, 240);
    text-align: center;
    text-decoration: none;
    letter-spacing: 5px;
    word-spacing: 10px;
    background-color: rgb(22, 22, 22);
    box-shadow: 0 0 3em black;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 0.5;
    font-family: 'Oswald', sans-serif;
    background-image: url("https://ak.picdn.net/shutterstock/videos/8106805/thumb/1.jpg");
    height: 35vh;
    background-position: center center;
    background-size: cover;
}

main{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.container{
    background-color: white;
    box-shadow: 0 0 3em black;
    padding: 20px;
    text-align: justify;
    font-family: 'Josefin Sans', sans-serif;
}

.container h3{
    margin-left:15px;
    text-shadow: black;
    text-shadow: 3px;
    text-decoration: solid;
}

.mugshot{
    float: right;
    border-style: solid;
    border-color: black;
    margin-left: 40px;
}

.paragraph{
    width: 65%;
    margin-left: 15px;
}

.elements{
    display: flex;
}

/* Menu */
.menu{
    background-color: black;
    color:white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 83%;
    margin-right: auto;
    margin-left: auto;
}

nav a{
    text-decoration: none;
    color:white;
    margin-right: 15px;
}

nav.menu{
    font-size: 16px;
}

footer nav a{
    font-size:12px;
    color:rgb(17, 17, 17);
}